header{
    

    .header{
        margin: 0 auto;
        padding: .5rem 1.1rem;
        position: relative;

        &__top{
                margin: 1rem 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .hamburger{
                    display: block;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
                .logo{

                    img{
                        width: 92px;
                        height: 24px;
                        display: block;
                    }
                }
        }

        &__bottom{
            margin: 1rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .search{
                min-width: 59%;
                padding: 1.1rem 2rem;
                color: #81858b;
                background-color: #f0f0f1;
                border: 1px solid #eee;
                border-radius: 8px;
                position: relative;
                cursor: pointer;

                span{
                    margin-right: 2.5rem;
                    color: #81858b;
                }
                img{
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    width: 25px;
                    height: 25px;
                    transform: translateY(-50%);
                    opacity: .6;
                }
            }
            .other{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;

                
                &__sign{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    
                    img{
                        width: 25px;
                        height: 20px;
                    }

                    .sign__title{
                        margin-right: 8px;
                        font-weight: 500;
                    }
                }
                &__basket{
                    margin-right: 20px;
                    cursor: pointer;

                }
                
                

            }
        }
        &__location{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 1rem;

            .title{
                display: flex;
                align-items: center;
                color: #3d3d3d;
                font-size: 1.1rem;

                img{
                    width: 25px;
                    height: 20px;
                }
                span{
                    margin-right: 6px;
                }
            }
            .icon{
                display: flex;
                align-items: center;

                img{
                    width: 10px;
                    height: 10px;
                }
            }
        }
        
        nav{
            background-color: white;
            width: 320px;
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            border: 1px solid #ccc;
            z-index: 3;
            overflow-y: auto;
            display: none;

            .menu{
                display: flex;
                flex-direction: column;
                padding: 1rem 2rem;

                .logo{
                    padding: 1rem 0;

                    img{
                        width: 80px;
                        height: 20px;
                    }
                }
                ul.single{

                    li{
                        padding: 2rem 0;

                       

                        a{
                            display: flex;
                            align-items: center;
                            color: #000;

                            .menu__image{
                                margin-left: 1rem;

                                img{
                                    width: 25;
                                    height: 25px;
                                    opacity: .4;
                                }
                            }
                        }
                    }
                }
                .title-sort{
                    margin: 3rem 0;
                    a{

                        .sort__icon{
                            display: none;
                        }
                        .sort-title{}
                    }
                }
                ul.sort{

                    li{
                        margin-bottom: 2.5rem;
                                
                        a{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            
                            .icon{

                                img{
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }

    

    .header.desktop{
        display: none;
    }
}