@font-face {
  font-family: 'yekan';
  font-style: normal;
  src: url(../fonts/iranyekanwebregular.e31c09af.woff2) format("woff"), url(../fonts/iranyekanwebmedium.2d4f96e5.woff) format("woff"), url(../fonts/iranyekanwebbold.cfb6e26c.woff2) format("woff"), url(../fonts/iranyekanwebextrabold.9346e9a2.woff) format("woff");
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3d3d3d;
}

html {
  font-size: 62.5%;
  direction: rtl;
}

body {
  font-size: 1.2rem;
  font-family: 'yekan';
  font-weight: normal;
}

.line {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background-color: #f3f3f3;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

header .header {
  margin: 0 auto;
  padding: .5rem 1.1rem;
  position: relative;
}

header .header__top {
  margin: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__top .hamburger {
  display: block;
}

header .header__top .hamburger img {
  width: 20px;
  height: 20px;
}

header .header__top .logo img {
  width: 92px;
  height: 24px;
  display: block;
}

header .header__bottom {
  margin: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__bottom .search {
  min-width: 59%;
  padding: 1.1rem 2rem;
  color: #81858b;
  background-color: #f0f0f1;
  border: 1px solid #eee;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

header .header__bottom .search span {
  margin-right: 2.5rem;
  color: #81858b;
}

header .header__bottom .search img {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 25px;
  height: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .6;
}

header .header__bottom .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .header__bottom .other__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .header__bottom .other__sign img {
  width: 25px;
  height: 20px;
}

header .header__bottom .other__sign .sign__title {
  margin-right: 8px;
  font-weight: 500;
}

header .header__bottom .other__sign .sign__title .line {
  display: none;
}

header .header__bottom .other__sign .sign__title .desktop {
  display: none;
}

header .header__bottom .other__basket {
  margin-right: 20px;
  cursor: pointer;
}

header .header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 1rem;
}

header .header__location .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3d3d3d;
  font-size: 1.1rem;
}

header .header__location .title img {
  width: 25px;
  height: 20px;
}

header .header__location .title span {
  margin-right: 6px;
}

header .header__location .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__location .icon img {
  width: 10px;
  height: 10px;
}

header .header nav {
  background-color: white;
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid #ccc;
  z-index: 3;
  overflow-y: auto;
  display: none;
}

header .header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 2rem;
}

header .header nav .menu .logo {
  padding: 1rem 0;
}

header .header nav .menu .logo img {
  width: 80px;
  height: 20px;
}

header .header nav .menu ul.single li {
  padding: 2rem 0;
}

header .header nav .menu ul.single li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

header .header nav .menu ul.single li a .menu__image {
  margin-left: 1rem;
}

header .header nav .menu ul.single li a .menu__image img {
  width: 25;
  height: 25px;
  opacity: .4;
}

header .header nav .menu .title-sort {
  margin: 3rem 0;
}

header .header nav .menu .title-sort a .sort__icon {
  display: none;
}

header .header nav .menu ul.sort li {
  margin-bottom: 2.5rem;
}

header .header nav .menu ul.sort li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header nav .menu ul.sort li a .icon img {
  width: 15px;
  height: 15px;
}

header .header.desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .header__top {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  header .header__top .hamburger {
    display: none;
  }
  header .header__top .question {
    display: none;
  }
  header .header__bottom {
    -ms-flex-preferred-size: 86%;
        flex-basis: 86%;
  }
  header .header__bottom .search {
    min-width: 600px;
  }
  header .header__bottom .search span {
    font-size: 1.4rem;
  }
  header .header__bottom .other__sign {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 1.1rem 2rem;
  }
  header .header__bottom .other__sign .sign__title {
    font-size: 1.4rem;
  }
  header .header__bottom .other__sign .sign__title .line {
    display: inline;
  }
  header .header__bottom .other__sign .sign__title .desktop {
    display: inline-block;
  }
  header .header__location {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 19%;
        flex-basis: 19%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header__location .title {
    font-size: 1.3rem;
  }
  header .header__location .title img {
    width: 27px;
    height: 25px;
  }
  header .header__location .icon {
    display: none !important;
  }
  header .header__location .icon img {
    display: none;
  }
  header .header__location .icon span {
    margin-right: unset;
  }
  header .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
    width: unset;
    height: unset;
    border: unset;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 79%;
        flex-basis: 79%;
  }
  header .header nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem 1rem;
  }
  header .header nav .menu .logo {
    display: none;
  }
  header .header nav .menu ul.single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
  header .header nav .menu ul.single li {
    padding: 0;
    margin-left: .5rem;
  }
  header .header nav .menu ul.single li .line {
    display: unset;
  }
  header .header nav .menu ul.single li a .menu__image {
    margin-left: .5rem;
    margin-right: 1rem;
  }
  header .header nav .menu .sort {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header nav .menu .title-sort {
    margin: 3rem 0;
  }
  header .header nav .menu .title-sort a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header nav .menu .title-sort a .sort__icon {
    display: unset;
    margin-left: 1rem;
  }
  header .header nav ul.sort {
    display: none;
  }
  header .line {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */