@font-face {
  font-family: 'IranYekan';
  src: url(../fonts/iranyekanwebmedium.2d4f96e5.woff) format("woff");
}

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

html {
  direction: rtl;
  font-size: 62.5%;
}

body {
  font-size: 1.1rem;
  font-family: 'IranYekan';
}

.container {
  max-width: 1860px;
  padding: 0 2rem;
  margin: 0 auto;
}

.hero-continer {
  max-width: 1336px;
  padding: 0 2rem;
  margin: 0 auto;
}

.w-line {
  width: 100%;
  height: 1px;
  margin: 1rem auto;
  background-color: #f0f0f1;
  display: block;
}

.h-line {
  width: 1px;
  height: 60%;
  background-color: #f0f0f1;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/* header */
header {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

header .banner {
  height: 35px;
}

header .banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.3rem;
}

.header__hamburger {
  font-size: 1.8rem;
  color: #424750;
}

.header__logo {
  text-align: center;
}

.header__logo img {
  width: 88%;
  height: 90%;
}

.header__question {
  font-size: 1.8rem;
  color: #424750;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background-color: #f0f0f1;
  padding: 1.4rem 1rem;
  border-radius: 8px;
  color: #a1a3a8;
  cursor: pointer;
}

.header__search span:first-child {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.header__sign {
  cursor: pointer;
}

.header__sign .icon {
  font-size: 2rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #424750;
}

.header__sign .sign-in {
  margin-right: 1rem;
}

.header__sign .sign-up {
  display: none;
}

.header__basket {
  cursor: pointer;
  margin-right: 2rem;
}

.header__basket span {
  font-size: 1.8rem;
  color: #424750;
}

.header .nav__menu {
  display: none;
}

.header__location {
  width: 100%;
  margin-bottom: .7rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #424750;
  cursor: pointer;
}

.header__location .location__title .icon {
  color: #f9a825;
  margin-left: .5rem;
  font-size: 1.5rem;
}

.header__location .icon {
  color: #424750;
}

.header .h-line {
  display: none;
}

/* End header */
@media screen and (min-width: 1024px) {
  header .banner {
    height: 60px;
  }
  .header__hamburger {
    display: none;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
  }
  .header__question {
    display: none;
  }
  .header__search {
    -ms-flex-preferred-size: 68%;
        flex-basis: 68%;
  }
  .header__sign {
    border: 1px solid #e0e0e2;
    padding: 1rem 1.5rem;
    border-radius: 8px;
  }
  .header__sign .sign-up {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 5px;
  }
  .header .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
  .header .nav__menu .main-menu {
    cursor: pointer;
  }
  .header .nav__menu .main-menu__title {
    padding: .5rem 0;
  }
  .header .nav__menu .main-menu__title span {
    margin-left: 9px;
    font-size: 1.7rem;
    color: #424750;
  }
  .header .nav__menu .main-menu__title h3 {
    margin-left: 10px;
    color: #424750;
    font-weight: normal;
  }
  .header .nav__menu .main-menu:hover {
    border-bottom: 3px solid #e6123d;
  }
  .header .nav__menu .main-menu-2 ul li {
    margin-left: 2rem;
    padding: .5rem 0;
    cursor: pointer;
  }
  .header .nav__menu .main-menu-2 ul li:hover {
    border-bottom: 3px solid #e6123d;
  }
  .header .nav__menu .main-menu-2 ul li a {
    color: #62666d;
  }
  .header .nav__menu .main-menu-2 ul li a .icon {
    margin-left: 5px;
  }
  .header .nav__menu .main-menu-2 ul li .h-line {
    margin: 0;
  }
  .header__location {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: unset;
    font-size: 1.2rem;
  }
  .header__location .location__title {
    margin-top: 1rem;
  }
  .header__location .location__title .icon {
    color: #424750;
  }
  .header__location .location__title span {
    color: #424750;
  }
  .header__location > .icon {
    display: none;
  }
  .header .w-line {
    display: none;
  }
  .header .h-line {
    display: block;
    margin: 0 1.5rem;
    height: 20px;
  }
}

/* key frames*/
/* end key frames*/
/* slider */
.slider {
  margin-top: 1rem;
  position: relative;
}

.slider__image {
  overflow: hidden;
  height: 268px;
}

.slider__image-item a {
  display: block;
}

.slider__image-item a img {
  width: 100%;
  height: 268px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__chevron {
  position: absolute;
  bottom: 40px;
  right: 30px;
}

.slider__chevron .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__chevron .icon-right, .slider__chevron .icon-left {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5px;
  border: #c0c2c5;
  background-color: #fff;
  border-radius: 100%;
  font-size: 1.3rem;
}

.slider__number {
  position: absolute;
  bottom: 10px;
  left: 18px;
}

.slider__number ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__number ul li {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #0c0c0c;
  margin-left: 8px;
}

.slider__number ul li.active {
  width: 18px;
  height: 6px;
  background-color: #fff;
  border-radius: 8px;
}

/* End slider */
/*slider media query*/
@media screen and (min-width: 1024px) {
  .slider {
    margin-top: unset;
    -webkit-transition: all 2s ease-out .8s;
    transition: all 2s ease-out .8s;
  }
  .slider:hover .slider__chevron {
    display: block;
  }
  .slider__image {
    height: 400px;
  }
  .slider__image-item a img {
    height: 400px;
    -o-object-fit: unset;
       object-fit: unset;
  }
  .slider__chevron {
    right: 50px;
    bottom: 50px;
    display: none;
    -webkit-transition: all 2s ease .8s;
    transition: all 2s ease .8s;
  }
  .slider__number {
    right: 50px;
    bottom: 20px;
  }
}

/*end slider media query*/
.digi-link {
  margin: 2rem 0;
}

.digi-link .link-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  padding: 2rem 0;
}

.digi-link .link-list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #424750;
}

.digi-link .link-list__item a img {
  width: 52px;
  height: 52px;
  margin-bottom: 10px;
}

.digi-link .link-list__more a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #424750;
}

.digi-link .link-list__more a .icon {
  width: 54px;
  height: 54px;
  border-radius: 100%;
  background-color: #f0f0f1;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.digi-link .link-list__more a .icon span {
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: #a1a3a8;
  margin: 0 .1rem;
  border-radius: 100%;
}

/* digi-link media query*/
@media screen and (max-width: 350px) {
  .digi-link .link-list__item a span, .digi-link .link-list__more a span {
    font-size: .9rem;
  }
}

@media screen and (min-width: 1024px) {
  .digi-link .link-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* End digi-link media query*/
.hero-continer {
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */