@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,600&display=swap");
*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
}

.section-title {
  font-size: 3rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

.section-title span {
  color: crimson;
}

.cta {
  display: inline-block;
  padding: 1rem 3rem;
  color: crimson;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 36px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.cta:hover {
  color: #fff;
  background-color: crimson;
}

.brand h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.brand span {
  color: crimson;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: 2;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(0, 0, 0, 0.24);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#header .header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 10px 20px;
}

#header .header .nav-bar .nav-list .hamburger {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 3;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#header .header .nav-bar .nav-list .hamburger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  -webkit-animation: hamburger_pulse 1.5s ease infinite;
          animation: hamburger_pulse 1.5s ease infinite;
}

#header .header .nav-bar .nav-list .hamburger.active .bar::before {
  bottom: 0;
}

#header .header .nav-bar .nav-list .hamburger.active .bar::after {
  top: 0;
}

#header .header .nav-bar .nav-list .hamburger .bar {
  width: 30px;
  height: 2px;
  position: relative;
  background-color: #fff;
  z-index: -1;
}

#header .header .nav-bar .nav-list .hamburger .bar::after, #header .header .nav-bar .nav-list .hamburger .bar::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: top,bottom;
  transition-property: top,bottom;
}

#header .header .nav-bar .nav-list .hamburger .bar::after {
  top: 8px;
}

#header .header .nav-bar .nav-list .hamburger .bar::before {
  bottom: 8px;
}

#header .header .nav-bar .nav-list ul {
  list-style-type: none;
  position: absolute;
  background-color: #1f1e1e;
  width: 100vw;
  height: 80vh;
  left: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow-x: hidden;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#header .header .nav-bar .nav-list ul.active {
  left: 0;
}

#header .header .nav-bar .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .header .nav-bar .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 10rem;
  letter-spacing: 50px;
  z-index: -1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#header .header .nav-bar .nav-list ul li:hover a::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .header .nav-bar .nav-list ul li:hover a {
  color: crimson;
}

#hero {
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#hero::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .7;
  z-index: -1;
}

#hero h1 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  -webkit-animation: text_reveal 1s ease-out forwards;
          animation: text_reveal 1s ease-out forwards;
}

#hero h1:nth-child(1), #hero h1:nth-child(1) span {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#hero h1:nth-child(2), #hero h1:nth-child(2) span {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

#hero h1:nth-child(3), #hero h1:nth-child(3) span {
  -webkit-animation: text_reveal_name .5s ease-out forwards;
          animation: text_reveal_name .5s ease-out forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: crimson;
  -webkit-animation: text_reveal_box 1s ease-out;
          animation: text_reveal_box 1s ease-out;
}

#services .services {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .services-top {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 .5rem;
  text-align: justify;
}

#services .services-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

#services .services-bottom .services-item {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(../images/img-1.png);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#services .services-bottom .services-item::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
  z-index: -1;
}

#services .services-bottom .services-item .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#services .services-bottom .services-item h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#services .services-bottom .services-item p {
  color: #fff;
  text-align: left;
}

/* projects section  */
#projects .projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects-header h1 {
  margin-bottom: 50px;
}

#projects .all-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .all-projects .project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#projects .all-projects .project-item:hover .project-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#projects .all-projects .project-item .project-info {
  padding: 30px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: #29323c;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

#projects .all-projects .project-item .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}

#projects .all-projects .project-item .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}

#projects .all-projects .project-item .project-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#projects .all-projects .project-item .project-img::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #29323c;
  opacity: .7;
}

#projects .all-projects .project-item .project-img img {
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

/* end projects section  */
/*  About section  */
#about .about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .about .col-left {
  width: 250px;
  height: 360px;
}

#about .about .col-left .about-img {
  width: 100%;
  height: 100%;
  position: relative;
  border: 6px solid #fff;
}

#about .about .col-left .about-img::after {
  content: " ";
  position: absolute;
  left: -33px;
  top: 19px;
  width: 98%;
  height: 98%;
  border: 7px solid crimson;
  z-index: -1;
}

#about .about .col-right {
  width: 100%;
}

#about .about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-bottom: 10px;
}

#about .about .col-right p {
  margin-bottom: 20px;
}

#about .about .col-right .cta {
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}

/* end About section  */
/*  contact section  */
#contact .contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

#contact .contact .contact-items {
  width: 100%;
}

#contact .contact .contact-items .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 18px 0 #0000002c;
          box-shadow: 0 0 18px 0 #0000002c;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#contact .contact .contact-items .contact-item:hover {
  -webkit-box-shadow: 0 0 5px 0 #0000002c;
          box-shadow: 0 0 5px 0 #0000002c;
}

#contact .contact .contact-items .contact-item .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact .contact-items .contact-item .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact .contact-items .contact-item .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

/* end contact section  */
/* footer section  */
#footer {
  background-color: #29323c;
}

#footer .footer {
  min-height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer .footer h2 {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .footer .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

#footer .footer .social-icon .social-item {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

#footer .footer .social-icon .social-item img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#footer .footer .social-icon .social-item:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#footer .footer p {
  color: #fff;
  font-size: 1.3rem;
}

/* end footer section  */
/* key frames */
@-webkit-keyframes hamburger_pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}
@keyframes hamburger_pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}

@-webkit-keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes text_reveal {
  100% {
    color: #fff;
  }
}

@keyframes text_reveal {
  100% {
    color: #fff;
  }
}

@-webkit-keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 700;
  }
}

@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 700;
  }
}

/* key frames */
/* media Query */
@media screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }
  #hero h1 {
    font-size: 7rem;
  }
  #services .services-bottom .services-item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 2.5%;
  }
  #projects .projects .all-projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #projects .projects .all-projects .project-item:hover .project-img img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #projects .projects .all-projects .project-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #projects .projects .all-projects .project-img {
    height: 100%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  #about .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about .about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
  }
  #about .about .col-right {
    text-align: left;
    padding: 30px;
  }
  #about .about .col-right h1 {
    text-align: left;
  }
  #contact .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 20vh;
  }
  #contact .contact .contact-items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 30px;
    margin: 0;
  }
  #contact .contact .contact-items .contact-item {
    width: 30%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
  }
  #contact .contact .contact-items .contact-item .icon {
    min-width: 80px;
    height: 80px;
    margin: 0;
  }
  #contact .contact .contact-items .contact-item .icon img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  #contact .contact .contact-items .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
}

/* end media Query for tablet*/
/*  media Query for desktop*/
@media screen and (min-width: 1200px) {
  #header .header .nav-bar .nav-list .hamburger {
    display: none;
  }
  #header .header .nav-bar .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  #header .header .nav-bar .nav-list ul a {
    font-size: 1.8rem;
  }
  #header .header .nav-bar .nav-list ul a::after {
    display: none;
  }
  #header .header .nav-bar .nav-list ul li {
    display: inline-block;
  }
  #services .services-bottom .services-item {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
    margin: 1.5%;
  }
}

/* end media Query for desktop*/
/*# sourceMappingURL=main.css.map */