@import 'base';



// header 

header{
    border-top: 3px solid $primary-color;
    box-shadow: 0 20px 30px 10px #eee;

    .header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        nav{
            display: flex;
            align-items: center;
            position: relative;

            .hamburger{

                .bar{
                    width: 28px;
                    height: 4px;
                    border-radius: 20px;
                    background-color: $black-color;
                    margin-bottom: 4px;
                    display: block;
                }
            }

            .header__menu{
                width: 75%;
                padding: 0 2rem;
                height: 100vh;
                position: fixed;
                top: 0;
                right: 0;
                background-color: $white-color;
                border-top: 3px solid $primary-color;
                border-left: 1px solid $border-color;
                display: flex;
                flex-direction: column;
                background-color: $primary-color;
                display: none;

                .item-search{
                    padding: 2rem 0rem ;
                    
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .item-search-box{
                            position: relative;
                            span{
                                font-size: 1.8rem;
                                color: $dark-color;
                                position: absolute;
                                right: 8px;
                                top: 50%;
                                transform: translateY(-50%);
                                display: block;

                            }
                            input{
                                padding: 1rem 4rem ;
                                border-radius: 8px;
                                font-size: 1.2rem;
                                border: 0;
                                outline: 0;
                            }
                        }
                        

                    }
                }

                .menu__item{
                    margin: 2rem 0;
                    border-bottom: 1px solid $border-color;
                    width: 100%;

                    a{
                        padding: 1rem 2rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: $white-color;
                    }
                    .sub-menu{
                        padding: 0 2rem;
                        border-radius: 8px;
                        background-color: $secondary-color;
                        display: none;

                        li{
                            a{

                                .icon{
                                    display: none;
                                }
                            }
                        }
                    }
                }

            }
        }

    }

    .header__sign{
        display: flex;
        align-items: center;

        img{
            width: 27px;
            height: 27px;
            margin-right: 1.5rem;
        }
        span{
            margin-right: .5rem;
        }
        
    }
}

// end header 


//  header media query
@media screen and (min-width:1050px) {
    
    header{
        .header{

            nav{

                .hamburger{
                    display: none;
                }
    
                .header__menu{
                    display: flex;
                    flex-direction: row;
                    width: unset;
                    height: unset;
                    background-color: unset;
                    position: unset;
                    padding: 0;
                    border: unset;

                    .item-search{
                        display: none;
                    }

                    .menu__item{
                        margin: 0;
                        width: unset;
                        border: unset;
                        position: relative;
                        transition: all 3s ease-out;
                       
                            &:hover .sub-menu{
                                display: flex;
                            }
                       
                        

                        a{
                            color: $black-color;
                            padding: 1rem 1rem;

                            .item-icon{
                                font-size: .7rem;
                                margin-right: 8px;
                            }
                        }
                        
                        .sub-menu{
                            position: fixed;
                            display: flex;
                            right: 50%;
                            top: 65px;
                            transform: translateX(50%);
                            width: 100%;
                            background-color: white;
                            padding: 1rem 2rem ;
                            box-shadow: 0 6px 19px 0px #eee;
                            flex-wrap: wrap;
                            display: none;

                            li{
                                padding: 1rem 1rem;
                                margin-left: 15px;

                                a{
                                    .icon{
                                        display: inline-block;
                                        margin-left: 8px;
                                        font-size: 3rem;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// end header media query