/* amazing-slider */
.amazing{
    background: linear-gradient(to top,$color-primary-500,$color-primary-700);
    margin: 2rem -2rem;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;

    .amazing-slider{
        display: flex;
        align-items: center;
        padding: 1.8rem 0;

        &__col{
            margin-left: 1rem;

            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                
                .col-image{
                    width: 145px;
                    height: 115px;
                    object-fit: contain;
                }
                .col-image:first-child{
                    width: 92px;
                    height: 77px;
                    margin-bottom: 10px;
                }
                .col__title{
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: $color-white;

                    .icon{
                        font-size: .9rem;
                    }
                }
            }
        }

        &__item{
            background-color: $color-neutral-00;
            padding: 1rem 1rem;
            margin-left: 3px;
            border-radius: 4px;
            
            a{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: column;

                .item-image{
                    margin: 1rem 0;

                    img{
                        width: 130px;
                        height: 130px;
                    }
                }
                .item-detail{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .item-discount{
                        width: 34px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 40px;
                        background-color: $color-primary-700;

                        span{
                            color: $color-white;
                            font-size: 1.1rem;
                        }
                    }
                    .item-price{
                        color: $color-neutral-700;

                        span{
                            font-size: 1.3rem;

                            &:last-child{
                                font-size: .9rem;
                                font-weight: bold;
                            }
                        }

                    }
                }
                .item-oldPrice{
                    color: $color-neutral-300;
                    font-size: .9rem;
                    margin-bottom: 1rem;
                    margin-left: 3rem;
                    
                    span{
                        text-decoration: line-through ;
                    }
                }
                .item-progress{
                    direction: ltr;
                    width: 100%;
                    display: none;

                    progress{
                        width: 100%;
                    }
                }
            }
        }

        
    }
}
/* End amazing-slider */


/*  amazing-slider media query */
@media screen and (min-width:1024px) {
    .amazing{
        margin: 2rem 0;
        border-radius: 20px;
        padding: 0 .1rem;

        .amazing-slider{
            overflow: hidden;

            &__col{

                a{
                    padding: 0 1rem;
                }
            }
            &__item{
                padding: 2rem 2.5rem;
            }
        }
    }

    
}
/*  End amazing-slider media query */