/* popular-brands */
.popular-brands{
    border: 1px solid $color-neutral-200;
    border-radius: $large-radius;

    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
/* End popular-brands */