header{
    

    .header{
        margin: 0 auto;
        padding: .5rem 1.1rem;
        position: relative;

        &__top{
                margin: 1rem 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .hamburger{
                    display: block;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
                .logo{

                    img{
                        width: 92px;
                        height: 24px;
                        display: block;
                    }
                }
        }

        &__bottom{
            margin: 1rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .search{
                min-width: 59%;
                padding: 1.1rem 2rem;
                color: #81858b;
                background-color: #f0f0f1;
                border: 1px solid #eee;
                border-radius: 8px;
                position: relative;
                cursor: pointer;

                & > span{
                    margin-right: 2.5rem;
                    color: #81858b;
                }
                & >img{
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    width: 25px;
                    height: 25px;
                    transform: translateY(-50%);
                    opacity: .6;
                }
                .search__intro{
                    width: 100%;
                    height: 100vh;
                    padding: 1rem 2rem;
                    position: fixed;
                    top: 0;
                    right: 0;
                    background-color: white;
                    cursor: default;
                    z-index: 2;
                    display: none;


                    
                    &-input{
                        border-bottom: 1px solid #1693c0;
                        padding: 1rem 0;
                        position: relative;

                        input{
                            width: 100%;
                            padding: 0 2.5rem ;
                            border: 0;
                            outline: 0;
                            color: #81858b;
                            font-size: 1.2rem;
                            cursor: pointer;
                        }

                        .control-icon{
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            img{
                                width: 20px;
                                height: 20px;
                            }

                            &.icon-exit{
                                left: 0;
                            }
                            &.icon-search{
                                right: 0;
                            }

                        }
                    }

                    &-slider{

                        .slider-x{
                            padding: 2rem 0;
                            display: flex;
                            align-items: center;
                            overflow-x: auto;
                            scrollbar-width: none;

                            &__item{
                                border: 1px solid #eee;
                                border-radius: 8px;
                                margin-left: 5px;

                                a{
                                    display: block;
                                    padding: 1rem 2rem;
                                    display: flex;
                                    align-items: center;


                                    .item-image{
                                        width: 60px;
                                        height: 60px;
                                        margin-left: 20px;

                                        img{
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 4px;
                                        }
                                    }
                                    .item-detail{
                                        h4{
                                            margin-bottom: 10px;
                                            font-size: 1.1rem;
                                        }
                                        span{
                                            width: 120px;
                                            display: block;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            font-size: 1rem;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &__search-top{

                        .search-top{

                            &__title{
                                display: flex;
                                align-items: center;

                                .image-icon{
                                    margin-left: 20px;

                                    img{
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                                h3{
                                    color: #000;
                                    font-size: 1.2rem;
                                }
                            }
                            &__slider{

                                .slider-x{
                                    display: flex;
                                    flex-wrap: nowrap;
                                    align-items: center;
                                    overflow-x: auto;
                                    scrollbar-width: none;
                                    margin: 2rem 0;

                                    &::-webkit-scrollbar{
                                        display: none;
                                    }

                                    li{
                                        min-width: 150px;
                                        border: 1px solid #eee;
                                        margin-left: 4px;
                                        border-radius: 16px;
                                        padding: .7rem 1rem;

                                        a{
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;

                                            // .detail{}
                                            .icon{
                                                width: 10px;
                                                height: 10px;
                                                display: inline-block;
                                                margin: 10px;
                                                img{
                                                    width: 100%;
                                                    height: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }


                    
                }

            }
            .other{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;

                
                &__sign{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    
                    img{
                        width: 25px;
                        height: 20px;
                    }

                    .sign__title{
                        margin-right: 8px;
                        font-weight: 500;
                        
                        .line{
                            display: none;
                        }
                        .desktop{
                            display: none;
                        }
                    }
                }
                &__basket{
                    margin-right: 20px;
                    cursor: pointer;

                }
                
                

            }
        }
        &__location{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 1rem;

            .title{
                display: flex;
                align-items: center;
                color: #3d3d3d;
                font-size: 1.1rem;

                img{
                    width: 25px;
                    height: 20px;
                }
                span{
                    margin-right: 6px;
                }
            }
            .icon{
                display: flex;
                align-items: center;

                img{
                    width: 10px;
                    height: 10px;
                }
            }
        }
        
        nav{
            background-color: white;
            width: 320px;
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            border: 1px solid #ccc;
            z-index: 3;
            overflow-y: auto;
            display: none;

            .menu{
                display: flex;
                flex-direction: column;
                padding: 1rem 2rem;

                .logo{
                    padding: 1rem 0;

                    img{
                        width: 80px;
                        height: 20px;
                    }
                }
                ul.single{

                    li{
                        padding: 2rem 0;

                       

                        a{
                            display: flex;
                            align-items: center;
                            color: #000;

                            .menu__image{
                                margin-left: 1rem;

                                img{
                                    width: 25;
                                    height: 25px;
                                    opacity: .4;
                                }
                            }
                        }
                    }
                }
                .title-sort{
                    margin: 3rem 0;
                    position: relative;
                    a{

                        .sort__icon{
                            display: none;
                        }
                    }
                    
                }
                .sort{

                    font-weight: normal;
                    font-size: 1.2rem;
                    margin-top: 3rem;
                    li{
                        margin-bottom: 2.5rem;
                                
                        a{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            
                            .icon{

                                img{
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                    } 
                }
            }
        }

        
    }

    

    .header.desktop{
        display: none;
    }
}

@media screen and (min-width:1024px) {
    header{
        
        .header{
            display: flex;
            flex-wrap: wrap;

            &__top{
                flex-basis: 10%;

                .hamburger{
                    display: none;
                }
                .question{
                    display: none;
                }
            }
            &__bottom{
                flex-basis: 86%;

                .search{
                    min-width: 600px;
                    span{
                        font-size: 1.4rem;
                    }

                    .search__intro{
                        position: absolute;
                        z-index: 4;
                        border: 1px solid #eee;

                        &-input{

                            .control-icon{

                                &.icon-exit{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .other{
                    
                    &__sign{
                        border: 1px solid #eee;
                        border-radius: 8px;
                        padding: 1.1rem 2rem;

                        .sign__title{
                            font-size: 1.4rem;

                            .line{
                                display: inline;
                            }
                            .desktop{
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            &__location{
                order: 2;
                flex-basis: 19%;
                justify-content: flex-end;

                .title{
                    font-size: 1.3rem;

                    img{
                        width: 27px;
                        height: 25px;
                    }
                }
                .icon{
                    display: none !important;
                    
                    img{
                        display: none;
                    }
                    span{
                        margin-right: unset;
                    }
                }
            }
            nav{
                display: flex;
                position: unset;
                width: unset;
                height: unset;
                border: unset;
                order: 1;
                flex-basis: 79%;
                overflow-y: unset;

                .menu{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    padding: 1rem 1rem;

                    .logo{
                        display: none;
                    }
                    ul.single{
                        display: flex;
                        align-items: center;
                        order: 2;
                        margin: 0;

                        li{
                            padding: 0;
                            margin-left: .5rem;

                            .line{
                                display: unset;
                            }
                            a{

                                .menu__image{
                                    margin-left: .5rem;
                                    margin-right: 1rem;

                                     
                                }
                            }
                        }

                        
                    }
                    .sort{
                        order: 1;
                        display: unset;
                        position: absolute;
                        top: 5px;
                        right: 0;
                    }

                    .title-sort{
                        margin: 0;
                        a{
                            display: flex;
                            align-items: center;
    
                            .sort__icon{
                                display: unset;
                                margin-left: 1rem;
                            }
                        }
                    }
                }

                
                ul.sort{
                    display: none;
                }
            }

        }
        
        .line{display: none;}
    }
    
}


main{
    background-color: #cccc;
    height: 100vh;
}