$primary-color:#333;
$secondary-color:#eee;
$crimson-color:crimson;


*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    box-sizing: border-box;
}

header{
    background-color: $primary-color;
    color: $secondary-color;
    .container{
        padding: .6rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu{

            i{
                font-weight: 700;
            }
            .logo{
                margin-left: .5rem;
                font-weight: 700;
                font-size: 1.6rem;

                span{
                    color: $crimson-color;
                }
            }
        }
        .search{
            width: 55%;
            position: relative;
            display: flex;
            
            .search-input{
                font-size: 1.2rem;
                border-radius: 20px;
                padding: 0.2rem 1rem;
                flex-basis: 100%;
            }
            span{
                position: absolute;
                top: 50%;
                right: 7px;
                transform: translateY(-50%);
                font-size: 1.1rem;
                color: $primary-color;
            }
        }
    }
}

main{
    display: flex;
    justify-content: space-between;
    align-items: inherit;

    .icon-menu{
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
        background-color: $primary-color;
        width: 50px;
        position: relative;
        border-top: 3px solid $crimson-color;

        span{
            color: $secondary-color;
            margin: 1rem 0;
        
        }

        .arrow{
            width: 20px;
            height: 20px;
            border-radius: 100%;
            position: absolute;
            top: 0;
            right: -8px;
            background-color: $primary-color;
            border: 0;

            i{
                font-size: .8rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                transform: translateY(-50%);
            }
        }
    }

    .product{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            div{
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 2rem;
                    img{
                        width: 200px;
                        height: 200px;
                    }
                    .old-price{
                        text-decoration: line-through;
                    }
                }
            }
        
    }
    
}

.reset ,.decrement,.incerement{
    padding: 2rem;
}
@media screen and (min-width: 768px) {

    header{

        .container{
            padding: 1rem 2rem;
        }
    }
}